apiVersion: v1
kind: Service
metadata:
  name: model-registry-db
  namespace: model-registry-db
  labels:
    app.kubernetes.io/name: model-registry-db
    app.kubernetes.io/instance: model-registry-db
    app.kubernetes.io/part-of: model-registry-db
    app.kubernetes.io/managed-by: kustomize
  annotations:
    template.openshift.io/expose-uri: mysql://{.spec.clusterIP}:{.spec.ports[?(.name==\mysql\)].port}
spec:
  ports:
    - name: mysql
      nodePort: 0
      port: 3306
      protocol: TCP
      appProtocol: tcp
      targetPort: 3306
  selector:
    name: model-registry-db
  sessionAffinity: None
  type: ClusterIP

